table,
th,
td {
    border: 1px solid black;
}

.table-dang-ky {
    width: 100%;
    text-align: center;
    border-collapse: separate;
}

.table-dang-kytr td img {
    width: 100%;
    height: 100px;
}

.table-dang-ky td input {
    width: 100%;
}