table,
th,
td {
    border: 1px solid black;
}

.table-dang-nhap {
    width: 100%;
    text-align: center;
    border-collapse: separate;
}

.table-dang-nhap r td img {
    width: 100%;
    height: 100px;
}

.table-dang-nhap td input {
    width: 100%;
}