table,
th,
td {
    border: 1px solid black;
}

.table-gio-hang {
    width: 100%;
    text-align: center;
    border-collapse: separate;
}

.table-gio-hang tr td img {
    width: 100%;
    height: 100px;
}

.table-gio-hang td span {
    margin: 0 7px;
}